@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

*{
	font-family: 'proxima nova', helvetica, arial, 'AppleGothic', 'spoqa', 'NanumSquare', 'Nanum Gothic', dotum, sans-serif;
}

a{
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

a:hover{
	opacity: .7;
}


.head-area{
	position: absolute;
	left: 0; top: 0;
	width: 100%;
	height: 60px;
	text-align: right;
	z-index: 1;
	background-color: rgba(0,0,0,0.4);
}

.head-login-area{
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	left: 0; right: 0; top: 0; bottom: 0;
	background-color: rgba(0,0,0,0.6);
}


.head-action-login{
	display: inline-flex;
	justify-content: space-between;
	width: 300px;
	height: 100%;
}

.head-action-login > div{
	color: white;
	font-size: 14px;
	margin: auto;
}	

#head-login-form{
	background-color: white;
	max-width: 600px;
	margin: 5% auto;
}